table {
    display: block;
    margin: 8px;
    background: white;
    border: 2px solid;
    border-color: #666 #aaa #aaa #666;
    max-height: 640px;
    overflow-y: scroll;
    border-collapse: collapse;
}

table th, table td {
    font-weight: 400;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    width: 100px;
}

table th {
    width: 32px;
}

.inventory-box {
    display: inline-block;
    margin: 2px;
    padding: 50px;
}

.inventory-box h2 {
    margin: auto;
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
    margin-bottom: 4px;
}

.inventory-slots {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
    margin: auto;
    padding: 0;
    user-select: none;
}

.tool-box {
    padding: 4px !important;
    display: inline-flex;
}

.tool-box button {
    margin: 8px !important;
    width: 100px;
}

.tool-box progress {
    height: 32px;
    margin: 8px;
}

.inventory-slot {
    width: 32px;
    height: 32px;
    padding: 4px;
    background-color: silver;
    border: 2px solid;
    border-color: gray white white gray;
    position: relative;
}

.item {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.item img {
    width: 32px;
    height: 32px;
}

.item span {
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    text-shadow: 1px 1px black;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(121, 143, 184);
    /* background: #088; */
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.sidebar {
    list-style: none;
    padding: 20px;
    margin: 0 40px 0 0;
    float: left;
    width: 200px;
    height: calc(-40px + 100vh);
    overflow-y: scroll;
    background-color: #202020;
    box-shadow: 2px 0px 2px rgba(0,0,0,0.4);
    background-image:url('img/bg-stone.png');
    background-size: 64px;
    image-rendering: crisp-edges;
}

.sidebar h2 {
    text-align: center;
}

.sidebar li, button {
    height: 32px;
    background-color: #C0C0C0;
    border: 2px solid;
    border-color: white #404040 #404040 white;
    outline: 1px solid black;
    margin-bottom: 4px;
    padding: 4px;
    user-select: none;
}

.sidebar li:hover, button:hover {
    cursor: pointer;
    border-color: silver #404040 #404040 silver;
    background-color: gray;
}

.sidebar li:active, button:active {
    border-color: #404040 silver silver #404040;
}

.sidebar li img {
    float: left;
    width: 32px;
    height: 32px;
    image-rendering: crisp-edges;
}

.sidebar li h3 {
    line-height: 8px;
    padding-left: 50px;
}

.healthbar-wrapper {
    width: 34px;
    height: 4px;
    background-color: black;
    transform: translateY(-8px);
}

.healthbar {
    background-color: green;
    height: 2px;
}

#manual-crafting-list {
    display: flex;
    flex-direction: column;
}

#manual-crafting-list button {
    width: 300px;    
}

.title-free-mine-count, .title-auto-mine-consumption {
    margin: 8pt;
    text-align: center;
}

.auto-harvest-progress {
    margin: 10px;
    width: calc(100% + -20px);
}

progress {
    height: 24px;
    background: #fff;
    border: 2px solid;
    border-color: #888 white white #888;
}

progress::-webkit-progress-bar {
  /* style rules */
    background: #fff;
}
progress::-webkit-progress-value {
  /* style rules */
    background: #008;
}
progress::-moz-progress-bar {
  /* style rules */
    background: #fff;
}

#wnd-manual-smelting-progress content {
    padding: 8pt;
}

.manual-smelting-display {
    display: flex;
}

#wnd-manual-smelting-progress h2 {
    margin: 2pt;
    text-align: center;
}

.manual-smelting-display img {
    image-rendering: pixelated;    
}

.manual-smelting-display progress {
    width: 120px;
    height: 24px;
    margin: 4px;
}

#wnd-manual-smelting-progress content button {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 100px;
    text-align: center;
}

.mine-box {
    display: flex;
    flex: 1 0 auto;
    justify-content: left;
    user-select: none;
}

.miner-box button {
    width: 60pt;
}

.mine-box img {
    image-rendering: pixelated;
    width: 48px;
    height: 48px;
}

.mine-box span {
    display: block;
    flex: 1 0 auto;
    margin: auto;
}
#wnd-power td {
    width: 100%;
    text-align: right;
}
canvas#power-graph {
    margin: 8px;
    background: #000;
    border: 2px solid;
    border-color: #888 white white #888;
}

.miners-grid span, .smelters-grid span {
    color: black;
}

#manual-crafting-list button {
    display: flex;
    image-rendering: pixelated;
    width: 160px;
    height: 48px;
    padding: 6px;
    box-sizing: border-box;
}

#manual-crafting-list button div {
    position: relative;
}

#manual-crafting-list button div.spacer {
    flex: 1 0 auto;
}

#manual-crafting-list button div span {
    position: absolute;
    right: 0;
    bottom: 0;
}