window {
    position: absolute !important;
    left: 0;
    top: 0;
    display: inline-flex;
    flex-direction: column;
    background-color: silver;
    border: 2px solid;
    border-color: white gray gray white;
    outline: 2px solid black;
    min-width: 120px;
}

titlebar {
    padding: 2px;
    padding-left: 4pt;
    background: linear-gradient(to right, rgb(80, 80, 80), rgb(180, 180, 180));
    color: white;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
window.focus titlebar {
    background: linear-gradient(to right, rgb(40, 40, 102), rgb(96, 163, 221));
}
titlebar span {
    flex: 1 0 auto;
    font-size: 10pt;
    margin: auto;
}

titlebar button {
    width: 18px;
    height: 17px;
    padding: 0;
    margin:0;
    margin-top: 1px;
    font-size: 6pt;
    font-weight: 800;
}

menubar {
    display: flex;
    height: 24px;
    border-bottom: 2px solid white;
}

menubaritem {
    display: block;
    padding: 3px;
    cursor: pointer;
}

menubaritem:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

taskbar {
    background-color: silver;
    border-top: 2px solid white;
    outline: 1px solid silver;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 24px;
    padding: 4px;
    display: flex;
    flex-direction: row;
}

taskbar div.taskbar-buttons {
    flex: 1 0 auto;
    display: flex;
}

taskbar .taskbar-icons {
    display: block;
    border: 1px solid;
    border-color: #888 white white #888;
    padding: 0 3pt 0 2pt;
}

taskbar span.taskbar-clock {
    display: block;
    margin: 0;
    height: 100%;
    line-height: 22px;
}

taskbar .start-button {
    font-weight: 800;
    width: 64px;
    text-align: center;
}

taskbar button {
    height: 24px;  
    line-height: 0;
}

taskbar div.taskbar-buttons button {
    flex: 1 1 0;
    max-width: 200px;
    text-align: left;
}

taskbar hr {
    height: 100%;
    margin: 4px;
    margin-top: 0;
}

icon {
    display: block;
    position: relative;
    width: 64px;
    height: 64px;
    color: white;
    user-select: none;
    cursor: pointer;
}

.computer-grid griditem span {
    color: black;
}

icon img {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    margin: 16px;
    image-rendering: pixelated;
    transform: translateY(-8px);
}

icon span {
    position: absolute;
    left: 0;
    bottom: 4pt;
    right: 0;
    font-size: 8pt;
    text-align: center;
}

icon:hover {
    background-color: rgba(0, 0, 128, 0.5);
}

icon.shortcut::after {
    content: "";
    display: block;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background-image: url('../icons/shortcut.png');
    image-rendering: pixelated;
    background-repeat: no-repeat;
    margin: 12px;
}

grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
    background: white;
    border: 2px solid;
    border-color: #666 #aaa #aaa #666;
    margin: 2px;
    min-width: 128px;
    min-height: 64px;
}

griditem {
    display: block;
    position: relative;
    width: 64px;
    height: 64px;
    color: black;
    user-select: none;
    cursor: default;
}

griditem img {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    margin: 16px;
    image-rendering: pixelated;
    transform: translateY(-8px);
}

griditem span {
    position: absolute;
    left: 0;
    bottom: 2pt;
    right: 0;
    font-size: 8pt;
    text-align: center;
}

progress {
    position: relative;
}

progress.choppy::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: repeating-linear-gradient(to right, transparent, transparent 9%, white 10%)
}

ul#contextmenu {
    display: none;
}

ul#contextmenu, ul#contextmenu ul {
    padding: 0;
    list-style-type: none;
    position: absolute;
    z-index: 255;
    background: silver;
    border: 2px solid;
    border-color: white #888 #888 white;
    outline: 1px solid black;
    font-size: 10pt;
    min-width: 120px;
}

ul#contextmenu hr {
    margin: 0;
}

ul#contextmenu li {
    cursor: pointer;
    padding: 4pt;
    display: flex;
    flex-direction: row;
}

ul#contextmenu li:hover {
    background-color: #008;
    color: white;
}

ul#contextmenu img {
    width: 16px;
    height: 16px;
    image-rendering: pixelated;
    margin-right: 4pt;
}

content h6 {
    margin: 0;
    text-align: center;
}

img.icon {
    width: 16px;
    height: 16px;
    margin: auto;
    margin-right: 2pt;
}